html {
  font-size: 10px;
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 9.411764705882353px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "metropolis-regular", sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.765;
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------------------- 
 * ## links
 * ------------------------------------------------------------------- */
a {
  color: #cc147f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
  color: #26bfb5;
}

a:hover,
a:active {
  outline: 0;
}

/* ------------------------------------------------------------------- 
 * ## Lists
 * ------------------------------------------------------------------- */
ul {
  list-style: disc;
}

li {
  display: list-item;
}

ul {
  margin-left: 1.7rem;
}

ul li {
  padding-left: 0.4rem;
}

ul ul,
ul ol,
ol ul {
  margin: 0.6rem 0 0.6rem 1.7rem;
}

ul.disc li {
  display: list-item;
  list-style: none;
  padding: 0 0 0 0.8rem;
  position: relative;
}
ul.disc li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #cc147f;
  position: absolute;
  left: -17px;
  top: 11px;
  vertical-align: middle;
}

dt {
  margin: 0;
  color: #cc147f;
}

dd {
  margin: 0 0 0 2rem;
}
/* ------------------------------------------------------------------- 
 * ## main navigation 
 * ------------------------------------------------------------------- */
.header-nav {
  z-index: 900;
  font-family: "metropolis-regular", sans-serif;
  font-size: 1.3rem;
  line-height: 1.846;
  padding: 3.6rem 3rem 3.6rem 3.6rem;
  height: 100%;
  width: 280px;
  background: #0c0c0c;
  color: rgba(255, 255, 255, 0.25);
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  visibility: hidden;
}
.header-nav a,
.header-nav a:visited {
  color: rgba(255, 255, 255, 0.5);
}
.header-nav a:hover,
.header-nav a:focus,
.header-nav a:active {
  color: white;
}
.header-nav h3 {
  font-family: "metropolis-semibold", sans-serif;
  font-size: 11px;
  line-height: 1.363;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-bottom: 4.8rem;
  margin-top: 0.9rem;
  color: #cc147f;
}
.header-nav p {
  margin-bottom: 2.7rem;
}

.header-nav__content {
  background: #0c0c0c;
  position: relative;
  left: 50px;
  opacity: 0;
  visibility: hidden;
}

.header-nav__list {
  font-family: "metropolis-regular", sans-serif;
  font-size: 1.6rem;
  margin: 3.6rem 0 3rem 0;
  padding: 0 0 1.8rem 0;
  list-style: none;
  counter-reset: ctr;
}
.header-nav__list li {
  border-top: 1px solid rgba(255, 255, 255, 0.04);
  line-height: 4.8rem;
  position: relative;
}
.header-nav__list li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}
.header-nav__list a {
  display: block;
  color: #ffffff;
  position: relative;
  padding-left: 3.5rem;
}
.header-nav__list a::before {
  content: counter(ctr, decimal-leading-zero) ".";
  counter-increment: ctr;
  font-family: "metropolis-regular", sans-serif;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: 3px;
  top: 0;
}
.header-nav__list a:hover::before {
  color: #cc147f;
}

.header-nav__social {
  list-style: none;
  display: inline-block;
  font-size: 1.8rem;
  margin: 0;
}
.header-nav__social li {
  display: inline-block;
  margin-right: 12px;
  padding-left: 0;
}
.header-nav__social li a {
  color: rgba(255, 255, 255, 0.15);
}
.header-nav__social li a:hover,
.header-nav__social li a:focus {
  color: white;
}
.header-nav__social li:last-child {
  margin: 0;
}
/* ------------------------------------------------------------------- 
 * responsive:
 * header
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1600px) {
  .header-logo {
    left: 60px;
  }

  .header-menu-toggle {
    right: 60px;
  }
}
@media only screen and (max-width: 800px) {
  .header-logo {
    left: 40px;
  }

  .header-menu-toggle {
    right: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .s-header {
    height: 90px;
    top: 12px;
  }

  .header-logo {
    left: 30px;
  }
  .header-logo img {
    width: 180px;
    height: 34px;
  }

  .header-menu-toggle {
    right: 25px;
    top: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .header-menu-toggle::before {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .s-header {
    top: 6px;
  }

  .header-logo {
    left: 25px;
  }
  .header-logo img img {
    width: 141px;
    height: 27px;
  }

  .header-menu-toggle {
    top: 24px;
    right: 20px;
  }
}


/* ===================================================================
 * # home
 *
 * ------------------------------------------------------------------- */
.s-home {
  width: 100%;
  height: 100%;
  min-height: 786px;
  background-color: transparent;
  position: relative;
  display: table;
}
.s-home .shadow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: linear-gradient(to right, black 0%, black 20%, transparent 100%);
}
.s-home::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.65;
  background-color: #000000;
}

.no-js .s-home {
  background: #000000;
}


/* ------------------------------------------------------------------- 
 * ## home content
 * ------------------------------------------------------------------- */
.home-content {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  padding-bottom: 15.6rem;
  overflow: hidden;
  position: relative;
}
.home-content h1 {
  font-family: "domine-bold", sans-serif;
  font-size: 9rem;
  line-height: 1.1;
  margin-top: 0;
  color: #ffffff;
}
.home-content h1 + p {
  font-family: "metropolis-light", sans-serif;
  font-size: 3.8rem;
  line-height: 1.421;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 2.4rem;
  padding-left: 10rem;
  position: relative;
}
.home-content h1 + p::before {
  content: "";
  display: block;
  width: 6.5rem;
  height: 1px;
  background-color: #cc147f;
  position: absolute;
  left: 6px;
  top: 2.7rem;
}

.home-content__main {
  padding-top: 15rem;
  padding-right: 20rem;
  position: relative;
}
.home-social {
  list-style: none;
  font-size: 14px;
  line-height: 4.8rem;
  margin: 0;
  color: #ffffff;
  position: absolute;
  bottom: 6.6rem;
  left: 110px;
}
.home-social a {
  color: #ffffff;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.home-social a:hover {
  border-bottom: 1px solid #ffffff;
}
.home-social i {
  display: none;
}
.home-social .home-social-title {
  font-family: "metropolis-semibold", sans-serif;
  padding-right: 4rem;
  margin-right: 0.8rem;
  position: relative;
}
.home-social .home-social-title::after {
  display: block;
  content: "";
  width: 2.4rem;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  right: 0;
  top: 50%;
}
.home-social li {
  display: inline-block;
  position: relative;
  margin-right: 0.6rem;
}
.home-social li a {
  display: block;
}
.home-social li:last-child {
  margin-right: 0;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * home
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1600px) {
  .home-content h1 {
    font-size: 8.8rem;
  }
  .home-content h1 + p {
    font-size: 3.6rem;
  }

  .home-content__main {
    padding-top: 18rem;
  }

  .home-sidelinks {
    font-size: 1.3rem;
  }

  .home-scroll {
    right: 60px;
  }

  .home-social {
    left: 60px;
  }
}
@media only screen and (max-width: 1500px) {
  .home-content h1 {
    font-size: 8.6rem;
  }

  .home-content__main {
    max-width: 1100px;
  }
}
@media only screen and (max-width: 1400px) {
  .home-content h1 {
    font-size: 7.8rem;
  }
  .home-content h1 + p {
    font-size: 3rem;
  }
  .home-content h1 + p::before {
    top: 2.4rem;
  }

  .home-content__main {
    max-width: 1000px;
  }

  .home-sidelinks a {
    padding: 2.1rem 12rem 2.1rem 4rem;
  }
}
@media only screen and (max-width: 1200px) {
  .home-content h1 {
    font-size: 7.2rem;
  }
  .home-content h1 + p {
    font-size: 2.4rem;
    padding-right: 2rem;
    padding-left: 8rem;
  }
  .home-content h1 + p::before {
    width: 5.5rem;
    top: 1.8rem;
  }
  .home-content br {
    display: none;
  }

  .home-content__main {
    max-width: 850px;
  }

  .home-sidelinks a {
    padding: 1.8rem 6rem 1.8rem 4rem;
  }
}
@media only screen and (max-width: 1000px) {
  .home-content__main {
    max-width: 650px;
    padding-right: 0;
  }

  .home-sidelinks {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .home-content h1 {
    font-size: 7rem;
  }
}
@media only screen and (max-width: 800px) {
  .home-content h1 {
    font-size: 6.5rem;
  }

  .home-content__main {
    max-width: 580px;
  }

  .home-scroll {
    right: 40px;
  }
  .home-scroll__text {
    display: none;
  }

  .home-social {
    left: 40px;
  }
}
@media only screen and (max-width: 700px) {
  .home-content h1 {
    font-size: 5.5rem;
  }
  .home-content h1 + p {
    font-size: 2.2rem;
    padding-right: 0;
  }
  .home-content h1 + p::before {
    top: 1.6rem;
  }

  .home-content__main {
    max-width: 480px;
  }
}
@media only screen and (max-width: 600px) {
  .home-content h1 {
    font-size: 5.4rem;
  }
  .home-content h1 + p {
    padding-top: 3rem;
    padding-left: 0;
  }
  .home-content h1 + p::before {
    left: 0;
    top: 0;
  }

  .home-content__main {
    width: auto;
    padding-left: 35px;
    padding-right: 35px;
  }

  .home-social {
    left: 30px;
    bottom: 6rem;
    bottom: 6rem;
  }
  .home-social i {
    display: inline;
  }
  .home-social .home-social-text {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .home-content h1 {
    font-size: 5rem;
  }
  .home-content h1 + p {
    padding-top: 2.8rem;
  }

  .s-home {
    min-height: 642px;
  }
}
@media only screen and (max-width: 450px) {
  .home-content h1 {
    font-size: 4.6rem;
  }
  .home-content h1 + p {
    padding-top: 2.4rem;
  }
}
@media only screen and (max-width: 400px) {
  .s-home {
    min-height: 630px;
  }

  .home-content h1 {
    font-size: 4.2rem;
  }
  .home-content h1 + p {
    padding-top: 2.1rem;
  }

  .home-social {
    font-size: 13px;
    left: 25px;
  }
  .home-social .home-social-title {
    padding-right: 0.6rem;
  }
  .home-social .home-social-title::after {
    display: none;
  }
}



